* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ecf0f1;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  color: whitesmoke;
  position: fixed; /* 15 Keeps navbar on top and front */
  width: 100vw; /* 16 Responsive width */
  height: 3em; /* 17 Talk about em reference values */
  box-shadow: 2px 2px 2px #8f8f8f; /* 20 Show shadow option 8 */
}

.nav-link {
  text-decoration: none; /* 21 remove bullet points */
  color: whitesmoke;
}

.nav-link:hover {
  color: #2980b9; /* 22 Action selector :hover to change color */
}

.menu {
  display: flex; /* 23 Flexbox use on menu */
  justify-content: left; /* 24 Mess around with values to see how it behaves */
  gap: 1em; /* 24 Final fix to space out the ul items */
  list-style-type: none; /* 25 remove bullet points */
  padding-left: 1.5em;
}

.menu-options {
  height: 3em; /* 26 Adjust container height */
  display: flex; /* 27 Anchor tags become flex items */
  align-items: center; /* 28 Discuss cross axis in flexbox */
}

#icon {
  padding-right: 1.5em;
}

.main-wrapper {
  padding-top: 3em; /* 32 Need to set padding as flexbox and position: fixed do not play nice */
}

#main-heading {
  padding: 0.5em;
}

#main-text {
  font-size: 15vw; /* 31 */
}

/* 36 Adjust padding to space containers out */
#html {
  background-color: #bdc3c7;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.5em;
}

#css {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.5em;
}

.text-img-wrapper {
  display: flex; /* 37 Flexbox to containerize text against image */
  text-align: justify; /* 38 */
  align-items: flex-start; /* 39 Main axis adjustmetn */
}

/* 40 */

.p-img-logos {
  width: 10em;
  height: 10em;
  object-fit: contain;
}

#form-container {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #bdc3c7;
}

#contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#email {
  width: 40vw;
}

#message {
  width: 40vw;
}

#submit {
  display: inline-flex;
  justify-content: space-around;
  height: 50px;
  padding: 0;
  background-color: #2c3e50;
  color: white;
  border: none;
  outline: none;
  border-radius: 10%;
  font-size: 16px;
  font-weight: 600;
  font-family: "Zen Loop", cursive;
  width: 40vw;
  cursor: pointer;
}

#submit:hover {
  background-color: #34495e;
}

#submit:active {
  background-color: #95a5a6;
}

/* psuedo-element TWO COLONS!! */
h2::first-letter {
  font-size: xx-large;
}

/* css selectors ONE COLON! */
a[href="#html"]:active {
  color: purple;
}

.footer {
  color: white;
  background-color: #34495e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
